@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/* ------------------------------------ */
main{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#blog{
    margin: 3% 7%;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}

.articulos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto; 
    grid-template-areas:
        "art1 art1 art2 art3"
        "art4 art5 art6 art7"; 
    gap: 20px;
    margin: 2%;
}

.articulos article:nth-child(1) {
    grid-area: art1;
}

.articulos article:nth-child(2) {
    grid-area: art2;
}

.articulos article:nth-child(3) {
    grid-area: art3;
}

.articulos article:nth-child(4) {
    grid-area: art4;
}

.articulos article:nth-child(5) {
    grid-area: art5;
}

.articulos article:nth-child(6) {
    grid-area: art6;
}

.articulos article:nth-child(7) {
    grid-area: art7;
}


.articulos article {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen img:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
}

.imagen {
    position: relative; 
}

.categoria {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #6abdc2;
    color: #fff; 
    padding: 5px 10px; 
    font-size: 12px;
    border-radius: 4px; 
    font-weight: bold; 
    text-transform: uppercase;
}

.contenido {
    margin-top: 10px;
}

.articulos a {
    display: inline-block; 
    background-color: #ace0d7;
    color: #000; 
    text-decoration: none; 
    margin: 2%;
    padding: 5px 10px; 
    border-radius: 8px;
      
}

.articulos a:hover , .articulos2 a:hover {
    background-color: #6abdc2;
    transition: background-color 0.3s ease;
}



.pagination {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin: 5%; 

}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ace0d7;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #8dc9bb;
    transform: scale(1.1); 
}

/* Media Queries */
@media (max-width: 1024px) {
    .articulos {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "art1 art2"
            "art3 art4"
            "art5 art6"
            "art7 .";
    }

    
}

@media (max-width: 768px) {
    
    .articulos {
        grid-template-columns: 1fr; /* Una columna */
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "art1"
            "art2"
            "art3"
            "art4"
            "art5"
            "art6"
            "art7";
    }

    

    .pagination {
        flex-direction: column; 
    }
}

